# 6.1 Cary Exploratory Analysis

## Contents:

01. Install Libraries
02. Import Libraries
03. Import Datasets
04. Explore Data
    - Explores various columns within the dataset
05. Clean Data
    - Drops unnecessary columns
    - Drops rows null for 'location' column
    - Converts various column types such as time columns or incorrect floats
    - Normalizes capitalization
06. Export Cleaned Data

# 01. Install Libraries

In [128]:
# Install geopandas

pip install geopandas

SyntaxError: invalid syntax (1909072461.py, line 3)

# 02. Import Libraries

In [131]:
import pandas as pd
import numpy as npa
import geopandas as gpd
from shapely import wkb
import matplotlib.pyplot as plt

In [134]:
# Confirming that pandas & numpy were imported by printing versions

print(pd.__version__)
print(npa.__version__)
print(gpd.__version__)

2.1.4
1.26.4
1.0.1

# 03. Import Datasets

In [137]:
# Defines path as intro file path for Cary Real Estate project

path = r'/home/0668a905-109d-4403-be59-0a04abf51dd9/Cary Real Estate Analysis'

In [140]:
# Imports original dataset

df = pd.read_parquet(os.path.join(path, '01 Datasets', '01 Original Data', 'property.parquet'))

In [143]:
# Set the display option to show all columns

pd.set_option('display.max_columns', None)

# 04. Explore Data

In [146]:
# Print all Columns of entire dataframe

df

,pin,pin10,realid,owner,owner2,owneradd1,owneradd2,owneradd3,location,calcacreage,deedacres,streetnumber,streetmisc,streetprefix,streetname,streettype,streetsuffix,landclass,lclass,totalstructures,totalunits,propertydesc,bldgvalue,landvalue,landsalevalue,landsaledate,totalsalevalue,totalsaledate,deedbook,deedpage,wc_city,cary_city,wc_etj,township,apaownership,apaactivity,apafunction,apastructure,apasite,wc_zoning,billingclass,apaownershipdesc,apaactivitydesc,apafunctiondesc,apastructuredesc,apasitedesc,county,totalbldgsqft,typeanduse,typedecode,phycity,phyzip,utilities,ownerwholename,reallink,deedlink,shape_starea,shape_stlength,yearbuilt,chathamaddress,geo_shape,geo_point_2d
0,None,0729574551,94866,None,None,38 SAINT PAUL AVE,None,None,613 HANSON RD,0.15,0.15,613.0,None,None,HANSON,RD,None,RES 1 FAMILY,None,NaN,NaN,BAY POINTE/PH:03/LT#099 PL000161-000365,195234.0,40180.0,40180.0,None,235414.0,2017-10-27,008297,00762,None,None,None,NONE,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,Durham,2080.0,None,None,DURHAM,27713.0,None,None,https://taxcama.dconc.gov/camapwa/PropertySumm...,https://rodweb.dconc.gov/web/user/disclaimer,6451.097435,336.681551,None,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00...,b'\x01\x01\x00\x00\x00;\x87\xfc\xe6~\xbaS\xc09...
1,None,0729576438,94863,None,None,2908 LONDON BELL DR,None,None,619 HANSON RD,0.16,0.16,619.0,None,None,HANSON,RD,None,RES 1 FAMILY,None,NaN,NaN,BAY POINTE/PH:03/LT#096 PL000161-000365,179487.0,40705.0,40705.0,None,220192.0,2023-12-05,010023,00570,None,None,None,NONE,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,Durham,1906.0,None,None,DURHAM,27713.0,None,None,https://taxcama.dconc.gov/camapwa/PropertySumm...,https://rodweb.dconc.gov/web/user/disclaimer,7096.203754,354.824260,None,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x07\x00...,b'\x01\x01\x00\x00\x00\xa3U\xce\xfat\xbaS\xc0\...
2,None,0717996109,94079,None,None,1411 CARRICKFERGUS CT,None,None,1411 CARRICKFERGUS CT,0.22,0.22,1411.0,None,None,CARRICKFERGUS,CT,None,RES 1 FAMILY,None,NaN,NaN,OAKHAVEN/LT#15 PL000161-000075,275711.0,75937.0,75937.0,None,351648.0,None,004939,00353,None,None,None,NONE,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,Durham,3200.0,None,None,DURHAM,27713.0,None,None,https://taxcama.dconc.gov/camapwa/PropertySumm...,https://rodweb.dconc.gov/web/user/disclaimer,9361.373133,405.469398,None,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x1d\x00...,b'\x01\x01\x00\x00\x00\xdf\\\xfe\x8d\xc3\xbbS\...
3,None,0729577019,94847,None,None,4532 SHADY SIDE LN,None,None,4532 SHADY SIDE LN,0.13,0.13,4532.0,None,None,SHADY SIDE,LN,None,RES 1 FAMILY,None,NaN,NaN,BAY POINTE/PH:03/LT#069 PL000161-000365,203620.0,39480.0,39480.0,None,243100.0,None,006115,00981,None,None,None,NONE,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,Durham,2308.0,None,None,DURHAM,27713.0,None,None,https://taxcama.dconc.gov/camapwa/PropertySumm...,https://rodweb.dconc.gov/web/user/disclaimer,5588.978748,310.423891,None,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x07\x00...,b'\x01\x01\x00\x00\x00\x036\xbd\x00q\xbaS\xc0\...
4,None,0739031025,95258,None,None,3608 RAMBIR DR,None,None,3608 RANBIR DR,0.28,0.28,3608.0,None,None,RANBIR,DR,None,RES 1 FAMILY,None,NaN,NaN,LOCHSIDE/PH:01/LT#105 PL000165-000308,163464.0,57600.0,57600.0,None,221064.0,2013-06-27,007301,00787,None,None,None,NONE,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,Durham,1567.0,None,None,DURHAM,27713.0,None,None,https://taxcama.dconc.gov/camapwa/PropertySumm...,https://rodweb.dconc.gov/web/user/disclaimer,12205.491128,453.505217,None,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x07\x00...,b'\x01\x01\x00\x00\x00d\xc3\x03\x0f}\xb9S\xc0\...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294511,None,0820981446,125740,None,None,141 COFIELD CIRCLE,None,None,419 CECIL ST,0.09,0.09,419.0,None,None,CECIL,ST,None,RES 1 FAMILY,None,NaN,NaN,PROP-PROPERTIES4U LLC/TR# 03 PL000206-000025,133615.0,27250.0,27250.0,None,160865.0,2023-06-09,009932,00225,None,None,None,NONE,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,Durham,1184.0,None,None,DURHAM,27707.0,None,None,https://taxcama.dconc.gov/camapwa/PropertySumm...,https://rodweb.dconc.gov/web/user/disclaimer,3917.013134,282.904290,None,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x0f\x00...,"b'\x01\x01\x00\x00\x00\x84\xe9\xd0""\xb2\xb9S\x..."
294512,None,0769825914,125555,None,None,1511 SUNDAY DR STE 100,None,None,7110 CRESTED IRIS PL,0.52,0.52,7110.0,None,None,CRESTED IRIS,PL,None,UNK LEASEHOLD CONDO,None,NaN,NaN,SYKES PROPERTY/PH:02&03/O S#01 PL000206-000038,0.0,143262.0,143262.0,None,143262.0,None,009282,00045,None,None,None,NONE,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,Durham,NaN,None,None,DURHAM,27703.0,None,None,https://taxcama.dconc.gov/camapwa/PropertySumm...,https://rodweb.dconc.gov/web/user/disclaimer,22470.577615,678.041253,None,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x1b\x00...,b'\x01\x01\x00\x00\x00t\xf7\x90v0\xb1S\xc0\x00...
294513,None,0749090971,125595,None,None,4700 HOMEWOOD CT SUITE 380,None,None,0 CHANNEL DROP DR,0.16,0.16,0.0,None,None,CHANNEL DROP,DR,None,VAC RES DEVELOPER,None,NaN,NaN,ATWATER/PH:02/PRIVATE ACCESS PL000206-000052,0.0,1000.0,1000.0,None,1000.0,None,009915,00457,None,None,None,612,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,Durham,NaN,None,None,DURHAM,27703.0,None,None,https://taxcama.dconc.gov/camapwa/PropertySumm...,https://rodweb.dconc.gov/web/user/disclaimer,6813.471356,458.346710,None,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x19\x00...,b'\x01\x01\x00\x00\x00\x18\xa1e\x05V\xb7S\xc0\...
294514,None,0717327725,125852,None,None,2002 NOLA LN,None,None,2002 NOLA LN,0.03,0.03,2002.0,None,None,NOLA,LN,None,VACRES LT SMLTR SIDE,None,NaN,NaN,751 SOUTH/PH:01C/LT#178 PL000206-000135,192508.0,72000.0,72000.0,None,264508.0,2023-06-27,009941,00249,None,None,None,NONE,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,Durham,1936.0,None,None,DURHAM,27713.0,None,None,https://taxcama.dconc.gov/camapwa/PropertySumm...,https://rodweb.dconc.gov/web/user/disclaimer,1451.983589,175.999131,None,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00...,b'\x01\x01\x00\x00\x00U\x9f`\x0e\t\xbdS\xc0\x9...
294515,None,0769826985,125509,None,None,7105 CRESTED IRIS PL,None,None,7105 CRESTED IRIS PL,0.14,0.14,7105.0,None,None,CRESTED IRIS,PL,None,VAC RES LOT SML TRA,None,NaN,NaN,SYKES PROPERTY/PH:02&03/L T#07 PL000206-000038,363472.0,107730.0,107730.0,None,471202.0,2023-04-25,009904,00165,None,None,None,NONE,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,Durham,2607.0,None,None,DURHAM,27703.0,None,None,https://taxcama.dconc.gov/camapwa/PropertySumm...,https://rodweb.dconc.gov/web/user/disclaimer,5879.885807,337.995551,None,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00...,"b'\x01\x01\x00\x00\x00\xa1""\xf9\xf3&\xb1S\xc0\..."

In [149]:
# Get Dataset Size

print(df.shape)

(294516, 62)

## Explore landclass Column

In [152]:
# Explore unique names of the landclass column

df['landclass'].unique()

array(['RES  1 FAMILY', 'RES TWNH W  LAND', 'COM  OFFICE CONDO',
       'VAC RES  HOMEOWNERS', 'VACANT COMMERCIAL', 'VAC RES  LOT SML TRA',
       'RES  CONDOMINIUM', 'CMNTY SVC  POLICE FI', 'WILD PARKS FDRL PROJ',
       'COM  DRIVE IN BANK', 'RES  2 FAMILY', 'COM  AUTO CAR WASH',
       'VAC RES  DEVELOPER', 'VACANT LAND (UNDIFF)',
       'COM  APT GARDEN S42', 'COM  MULTI USE CONDO',
       'UNK LEASEHOLD CONDO', 'VACANT INDUSTRIAL', 'COMMUNITY SVCS (UNDI',
       'VAC COM  W  LEASEHOL', 'COM  FAST FOOD', 'VACRES LT SMLTR SIDE',
       'COM  PARKING LOTS SU', 'COM  WHSE STORAGE', 'COM  OFFICE BLDG',
       'PUBL SVC  RAILROADS', 'IND  MISC RESEARCH',
       'VACANT COMMUNITY SER', 'PUBL SVC  ELEC TRANS',
       'VAC RES  < 10 ACRES', 'COM  RETAIL SERVICES',
       'VAC RES  RURAL < 10', 'PRESENT USE AGRICULT',
       'COM  AUTO BODY TIRE', 'VACANT PRIVATE UTILI',
       'CMNTY SVC  LIBRARY', 'VAC RES  W  SML IMPR',
       'IND  MICROELECTRONIC', 'COM  BANKS & OFFICES',
       'PUBL SVC  SEWER & WA', 'PRESENT USE FORESTRY',
       'CMNTY SVC CEMTERY EX', 'VACRES LT SMLTR REAR', 'AG  1 FAMILY',
       'VAC COM  CONDO ASSOC', 'COM  DINING LEASEHOL', 'COM  APT GARDEN',
       'COM  COMMERCIAL (UND', 'CMNTY SVC  SCHOOL', 'RES TWNH W  LND S4',
       'COM  SVC & GAS STATI', 'COM  MOTOR VEHICLE S',
       'COM  MOBILE HOME PAR', 'VAC COMM SVC  GRVL P',
       'RES  1 MH OR MH SITE', 'PUBL SVC  TRANSPORTA',
       'CMNTY SVC CHURCH PRK', 'REC  COUNTRY CLUB', 'COM  FUNERAL HOME',
       'CMNTY SVC  CHURCH', 'CMNTY SVC  CHILD DAY',
       'CMNTY SVC  BNVLNT AS', 'COM CONV STORE W O G',
       'IND  MANUF PROCESSIN', 'COM  CONV STORE W  G',
       'PRESENT USE HORTICUL', 'CMNTY SVC  RELIGIOUS',
       'CMNTY SVS ASSTD LVG', 'VAC AG  10 ACRES OR',
       "RES  MULTIPLE DWG'S", 'RES  HOMEOWNERS ASSO',
       'COM  PROFESSIONAL BL', 'CMNTY SVC CHURCH PRS',
       'COM  AREA SHOP CTRS', 'COM  REGIONAL SHOP C',
       'RES  RURAL RESIDENTI', 'REC  OUTDOOR SPORT A',
       'RES  LSHLD IMPROV', 'COM  RESTAURANTS', 'COM  HOTEL',
       'COM  MINI WAREHOUSES', 'COM AUTO DLR SLS&SVC',
       'COM  CONVERTED RESID', 'COM  1 STY SM SGL US',
       'C0M  LRG RETAIL OUTL', 'PUBL SVC  TELEPHONE',
       'COM  DINERS & LUNCH', 'CMNTY SVC  EDUCATION',
       'CMNTY SVC  CULTURAL', 'COM  VET CLINIC', 'COM  MULTI USE CAPAB',
       'VAC RES  UNDERWATER', 'CMNTY SVC  COLLEGE',
       'Residential Less Than 10 Acres', 'EXEMPT', 'Vacant', 'Commercial',
       'HOA', 'Part Exempt', 'Industrial', 'Condo Complex', 'Agriculture',
       'Historic', 'Golf Course', 'Forestry', 'Cemetery',
       'Acre With Improvement, No House',
       'Acres Greater Than 10 With House', 'Apartment',
       'Manufactured Home', 'State Assessed', 'Horticulture',
       'Water/Sewer System', 'Mobile Home Park', 'CMNTY SVC  GOVT HWY',
       'CMNTY SVC  OTR EDU F', 'VAC COM  DEVELOPER', None,
       'RES  MOBILE HOME', 'RES  RESIDENTIAL (UN', 'VAC DEVELOPER UTILIT',
       'VAC AG  OTHER RURAL', 'RES  3 FAMILY', 'Condominium',
       'COM  HOMEOWNERS ASSO', 'COM  1 STY SM MULTI',
       'CMNTY SVC  WELFARE', 'COM  LUMBER YRDS SAW',
       'IND  BIOTECH   BIOPH', 'IND  INFO TECH   TEL',
       'COM  SALVAGE YARD', 'IND  ENVIRONMENTAL S', 'CMNTY SVC  MISC',
       'COM  MISC SERVICES', 'PUBL SVC  GAS TRANSM',
       'PUBL SVC  WATER SUPP', 'VAC PRV UTL  SEWAGE', 'COM  W  LEASEHOLD',
       'COM  BANK W  OFFICE', 'IND  LSHLD IMPROV', 'COM APT HIGH RI',
       'COM  STANDARD BANK', 'IND  INDUSTRIAL (UND',
       'IND PHARMACEUTICAL H', 'Retirement Home', 'COM  SNACK BARS',
       'CMNTY SVC DCLT LD&I', 'COM  DWNTWN ROW ATTA',
       'CMNTY SVC  RCRTNL FA', 'COM  LIVING ACCOMM',
       'CMNTY SVC HME FR AGD', 'CMNTY SVC EDU PRK LT',
       'CMNTY SVC  CHURCH SC', 'COM APT DWG CON', 'CMNTY SVC  GOV PUB P',
       'COM  GAS FUEL OIL ST', 'REC  OTHER MISC', 'REC  ATHLETIC FIELDS',
       'CMNTY SVC  RDS STR P', 'AG  YEAR ROUND', 'RES  ESTATE',
       'RES  DWG + 1 MBL HM', 'COM  TRUCKING TERMIN',
       'CMNTY SVC CEMTERY TA', 'RES  2 MH OR MH SITE',
       'REC  OUTDOOR SPT LSH', 'VAC CONSERVATION EAS',
       'COM  RET SVS LEASEHO', 'REC  GOLF COURSE', 'COM  INNS B&B RM HOU',
       'REC  OUTDOOR SWIMMIN', 'IND  W  LEASEHOLD',
       'COM  LEASEHOLD W  AC', 'CMNTY SVC  GOVT BLDG', 'COM  MOTEL',
       'RES  DWG + 2 MBL HMS', 'PUBL SVC  WATER', 'VAC AG  W  NON LVG I',
       'CMNTY SVC  HEALTH', 'REC  YMCA OR YWCA', 'RES  4 FAMILY',
       'RES  HISTORICAL', 'COM  HISTORICAL', 'COM  BANK & OFFICE L',
       'COM  DWNTWN ROW DETA', 'COM  SELF SER CAR WA',
       'COM  MANUAL CAR WASH', 'CMNTY SVC  GOV PRK G',
       'CMNTY SVC  OTHER HLT', 'REC  MOTION PIC THEA', 'REC  PARKS',
       'WILD PARKS STATE PRO', 'CMNTY SVC  ABC STORE',
       'CMNTY SVC  SPECIAL S', 'PUBL SVC  WASTE DISP', 'REC  BOWLING',
       'COM  NIGHT CLUBS', 'REC  TV & RADIO STUD', 'CMNTY SVC  CORRECTIO',
       'CMNTY SVS ASST LVGS4', 'COM  LRG RETAIL FOOD',
       'REC  SOCIAL ORGANIZA', 'CMNTY SVC  W  LEASEH', 'COM  BAR',
       'COM DLRSHIP SLS&SVC', 'COM PRKING GARAGE DE',
       'REC  INDOOR SPT FACI', 'CMNTY SVC  PROF ASSO',
       'CMNTY SVC  HOSPITAL', 'CMNTY SVC  GOVT LSHL',
       'REC  ENTRTN AMUSE(UN', 'COM  DINING ESTABLIS'], dtype=object)

In [ ]:
# Find null values in landclass column

df['landclass'].isna().sum()

## Explore lclass Column

In [352]:
# Explore unique names of the lclass column

df['lclass'].unique()

array([None, 'R', 'E', 'V', 'C', 'I', 'P', 'D', 'O', 'F', 'H', 'U', 'Y',
       'J', 'A', 'B', 'G', 'M', 'S', 'Z', 'W', 'T', 'N', 'K'],
      dtype=object)

In [355]:
# Find number of unique values in lclass

df['lclass'].nunique()

23

In [349]:
# Find null values in landclass column

df['lclass'].isna().sum()

76992

## Explore apasite Column

In [ ]:
# Check unique values in apasite column

df['apasite'].unique()

In [ ]:
# Check number of unique values in apasite column

df['apasite'].nunique()

## Explore apasitedesc Column

In [ ]:
# Explore unique names of the APA Site Description Column

df['apasitedesc'].unique()

In [ ]:
# Check number of unique values in apasitedesc column

df['apasitedesc'].nunique()

In [ ]:
# Create a subset for null fields within 'apasitedesc'

num_none = df['apasitedesc'].isnull().sum()

In [ ]:
# Print subset for null 'apasitedesc' fields

num_none

In [ ]:
# 26% of this 'apasitedesc' field is null

percent_none = (num_none / len(df)) * 100
print(percent_none)

## Explore apaownership Column

In [ ]:
# Check unique values of apaownership column

df['apaownership'].unique()

## Explore apaownershipdesc Column

In [ ]:
# check unique values of apaownershipdesc column

df['apaownershipdesc'].unique()

## Explore apafunction Column

In [ ]:
# check unique values of apafunction column

df['apafunction'].unique()

## Explore apafunctiondesc Column

In [ ]:
# check unique values of apafunctiondesc column

df['apafunctiondesc'].unique()

## Explore apastructure Column

In [ ]:
# Check unique values in apastructure column

df['apastructure'].unique()

## Explore apastructuredesc	 Column

In [ ]:
# Check unique values of apastructuredesc column

df['apastructuredesc'].unique()

## Explore apaactivity Column

In [ ]:
# Check unique values in apaactivity column

df['apaactivity'].unique()

## Explore apaactivitydesc Column

In [ ]:
# Check unique values of apaactivitydesc column

df['apaactivitydesc'].unique()

## Explore Location Column

In [ ]:
# Create a subset for null fields within 'location'

num_none_2 = df['location'].isnull().sum()

In [ ]:
# Print subset for null 'location' fields 

num_none_2

In [ ]:
# Check df with null 'location' values

df[df['location'].isnull()].head()

## Explore Total Sale Date Column

In [ ]:
# Explore unique names of the 'totalsaledate'; variables are objects--will need to convert for easier time series / analysis

df['totalsaledate'].unique()

In [ ]:
df['totalsaledate'].head(10)

In [ ]:
# Create a subset for null fields within 'totalsaledate'

num_none_3 = df['totalsaledate'].isnull().sum()

In [ ]:
# Print subset for null 'totalsaledate' fields

num_none_3

In [ ]:
# 26% of this 'totalsaledate' field is null

percent_none_3 = (num_none_3 / len(df)) * 100
print(percent_none)

## Explore streetmisc Column

In [ ]:
# Explore unique names of the 'streetmisc'

df['streetmisc'].unique()

## Explore streetprefix Column

In [ ]:
# Explore unique names of the 'streetprefix' column

df['streetprefix'].unique()

## Explore streetsuffix Column

In [ ]:
# Explore unique names of the 'streetsuffix' column

df['streetsuffix'].unique()

## Explore owneradd2 Column

In [ ]:
# Explore unique names of 'owneradd2'

df['owneradd2'].unique()

In [ ]:
# Create a subset for null fields within 'owneradd2'

num_none_4 = df['owneradd2'].isnull().sum()

In [ ]:
# 24% of this 'owneradd2' field is null

percent_none_4 = (num_none_4 / len(df)) * 100
print(percent_none_4)

## Explore owneradd3 Column

In [ ]:
# Explore unique names of 'owneradd3'

df['owneradd3'].unique()

In [ ]:
# Create a subset for null fields within 'owneradd3'

num_none_5 = df['owneradd3'].isnull().sum()

In [ ]:
# 96% of the 'owneradd3' is null

percent_none_5 = (num_none_5 / len(df)) * 100
print(percent_none_5)

## Explore totalbldgsqft Column

In [ ]:
# Explore unique names of 'totalbldgsqft'

df['totalbldgsqft'].unique()

In [ ]:
# Create a subset for null fields within 'totalbldgsqft'

num_none_6 = df['totalbldgsqft'].isnull().sum()

In [ ]:
17# % of the 'totalbldgsqft' is null

percent_none_6 = (num_none_6 / len(df)) * 100
print(percent_none_6)

## Explore typeanduse Column

In [ ]:
# Explore unique names of 'typeanduse'

df['typeanduse'].unique()

## Explore phycity Column

In [ ]:
# Explore unique names of 'phycity'

df['phycity'].unique()

## Explore phyzip Column

In [ ]:
# Explore unique names of 'phyzip'

df['phyzip'].unique()

In [ ]:
# Check data type of 'phyzip'

df['phyzip'].dtype

## Explore landsaledate Column

In [ ]:
# Explore unique names of 'landsaledate'

df['landsaledate'].unique()

In [ ]:
# Check data type of 'landsaledate'; dtype is mixed?

df['landsaledate'].dtype

## Explore utilities Column

In [ ]:
# Explore unique names of 'utilities'

df['utilities'].unique()

## Explore yearbuilt Column

In [ ]:
# Explore unique names of 'yearbuilt'

df['yearbuilt'].unique()

In [ ]:
# Check data type of yearbuilt, mixed datatype?

df['yearbuilt'].dtype

In [ ]:
# Explore unique names of 'chathamaddress'

df['chathamaddress'].unique()

## Explore ownerwholename Column

In [ ]:
# Explore unique names of ownerwholename Column

df['ownerwholename'].unique()

## Explore bldgvalue Column

In [ ]:
# Explore unique names of bldgvalue column

df['bldgvalue'].unique()

In [ ]:
# bldgvalue datatype

print(df['bldgvalue'].dtype)

In [ ]:
# Find null values in bldgvalue column

print(df['bldgvalue'].isna().sum())

## Explore landvalue Column

In [ ]:
# Find landvalue datatype

df['landvalue'].dtype

In [ ]:
# Find null values in landvalue column

df['landvalue'].isna().sum()

## Explore landsalevalue Column

In [ ]:
# Find landsalevalue datatype

df['landsalevalue'].dtype

In [ ]:
# Find null values in landsalevalue column

df['landsalevalue'].isna().sum()

## Explore totalsalevalue Column

In [ ]:
# Find totalsalevalue datatype

df['totalsalevalue'].dtype

In [ ]:
# Find null values in totalsalevalue column

df['totalsalevalue'].isna().sum()

## Explore billingclass Column

In [ ]:
# Find unique values in billingclass column

df['billingclass'].unique()

In [ ]:
# Find number of null values in billingclass column

df['billingclass'].isna().sum()

## Check chathamaddress Column

In [ ]:
# Check unique values in chathamaddress column

df['chathamaddress'].unique()

## Explore geoshape Columns

In [ ]:
# Create dataframe using geopandas for geoshape columns

gdf = gpd.GeoDataFrame(df)

In [ ]:
# Convert WKB to geometry objects

gdf['geo_shape'] = gdf['geo_shape'].apply(lambda x: wkb.loads(x))
gdf['geo_point_2d'] = gdf['geo_point_2d'].apply(lambda x: wkb.loads(x))

In [ ]:
# Set the active geometry column (choose either 'geo_shape' or 'geo_point_2d')

gdf = gdf.set_geometry('geo_shape')

In [ ]:
# Set the coordinate reference system (CRS) 

gdf.set_crs(epsg=4326, inplace=True)

In [ ]:
print(gdf.head())
print(gdf.geometry.type)

In [ ]:
# Plot'gdf'

gdf.plot()

# 05. Clean Data

## Drop Unnecessary Columns

In [155]:
# Define columns that need to be dropped as a dataframe

columns_to_drop = ['pin', 'pin10', 'realid', 'owner', 'owner2', 'wc_city', 'wc_etj', 'township', 'wc_zoning', 'typeanduse', 'deedbook', 'deedpage', 'reallink', 'deedlink', 'ownerwholename', 'lclass']

In [158]:
# Create new dataframe with dropped columns

df_2 = df.drop(columns=columns_to_drop)

In [161]:
# Check output of df_2

df_2.head()

,owneradd1,owneradd2,owneradd3,location,calcacreage,deedacres,streetnumber,streetmisc,streetprefix,streetname,streettype,streetsuffix,landclass,totalstructures,totalunits,propertydesc,bldgvalue,landvalue,landsalevalue,landsaledate,totalsalevalue,totalsaledate,cary_city,apaownership,apaactivity,apafunction,apastructure,apasite,billingclass,apaownershipdesc,apaactivitydesc,apafunctiondesc,apastructuredesc,apasitedesc,county,totalbldgsqft,typedecode,phycity,phyzip,utilities,shape_starea,shape_stlength,yearbuilt,chathamaddress,geo_shape,geo_point_2d
0,38 SAINT PAUL AVE,None,None,613 HANSON RD,0.15,0.15,613.0,None,None,HANSON,RD,None,RES 1 FAMILY,NaN,NaN,BAY POINTE/PH:03/LT#099 PL000161-000365,195234.0,40180.0,40180.0,None,235414.0,2017-10-27,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,2080.0,None,DURHAM,27713.0,None,6451.097435,336.681551,None,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00...,b'\x01\x01\x00\x00\x00;\x87\xfc\xe6~\xbaS\xc09...
1,2908 LONDON BELL DR,None,None,619 HANSON RD,0.16,0.16,619.0,None,None,HANSON,RD,None,RES 1 FAMILY,NaN,NaN,BAY POINTE/PH:03/LT#096 PL000161-000365,179487.0,40705.0,40705.0,None,220192.0,2023-12-05,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,1906.0,None,DURHAM,27713.0,None,7096.203754,354.824260,None,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x07\x00...,b'\x01\x01\x00\x00\x00\xa3U\xce\xfat\xbaS\xc0\...
2,1411 CARRICKFERGUS CT,None,None,1411 CARRICKFERGUS CT,0.22,0.22,1411.0,None,None,CARRICKFERGUS,CT,None,RES 1 FAMILY,NaN,NaN,OAKHAVEN/LT#15 PL000161-000075,275711.0,75937.0,75937.0,None,351648.0,None,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,3200.0,None,DURHAM,27713.0,None,9361.373133,405.469398,None,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x1d\x00...,b'\x01\x01\x00\x00\x00\xdf\\\xfe\x8d\xc3\xbbS\...
3,4532 SHADY SIDE LN,None,None,4532 SHADY SIDE LN,0.13,0.13,4532.0,None,None,SHADY SIDE,LN,None,RES 1 FAMILY,NaN,NaN,BAY POINTE/PH:03/LT#069 PL000161-000365,203620.0,39480.0,39480.0,None,243100.0,None,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,2308.0,None,DURHAM,27713.0,None,5588.978748,310.423891,None,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x07\x00...,b'\x01\x01\x00\x00\x00\x036\xbd\x00q\xbaS\xc0\...
4,3608 RAMBIR DR,None,None,3608 RANBIR DR,0.28,0.28,3608.0,None,None,RANBIR,DR,None,RES 1 FAMILY,NaN,NaN,LOCHSIDE/PH:01/LT#105 PL000165-000308,163464.0,57600.0,57600.0,None,221064.0,2013-06-27,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,1567.0,None,DURHAM,27713.0,None,12205.491128,453.505217,None,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x07\x00...,b'\x01\x01\x00\x00\x00d\xc3\x03\x0f}\xb9S\xc0\...

## Drop Unneccessary Rows

In [164]:
# Drop rows where values in 'location' column are null (should only be 125 rows)

df_3 = df_2.dropna(subset=['location'])

In [167]:
# Check df_3 unique values

df_3['location'].unique()

array(['613 HANSON RD', '619 HANSON RD', '1411 CARRICKFERGUS CT', ...,
       '7110 CRESTED IRIS PL', '2002 NOLA LN', '7105 CRESTED IRIS PL'],
      dtype=object)

In [170]:
# Check df_3 shape

df_3.shape

(294391, 46)

### Check Property Value Columns After Dropping Rows

In [173]:
df_3['totalsalevalue'].isna().sum()

2374

In [176]:
df_3['landsalevalue'].isna().sum()

15747

In [179]:
df_3['bldgvalue'].isna().sum()

2301

In [182]:
df_3['landvalue'].isna().sum()

2301

## Change Column Data Types

### Change streetnumber datatype

In [185]:
# Check if any variables are non-numeric in streetnumber

non_numeric = pd.to_numeric(df_3['streetnumber'], errors='coerce').isna()
has_non_numeric = non_numeric.any()

if has_non_numeric:
    print("The 'streetnumber' column contains non-numeric values.")
    non_numeric_values = df_3.loc[non_numeric, 'streetnumber']
    print("Non-numeric values:")
    print(non_numeric_values)
else:
    print("All values in the 'streetnumber' column are numeric.")

The 'streetnumber' column contains non-numeric values.
Non-numeric values:
18743    NaN
18745    NaN
18747    NaN
18749    NaN
18751    NaN
          ..
287983   NaN
287984   NaN
287988   NaN
287989   NaN
287993   NaN
Name: streetnumber, Length: 13507, dtype: float64

In [188]:
# Provides warning of having decimals; picking up NaN values?

has_decimals = (df_3['streetnumber'] % 1 != 0).any()
if has_decimals:
    print("Warning: Some street numbers have decimal values.")

Warning: Some street numbers have decimal values.

In [191]:
# prints 'decimal values'

non_integer = df_3[df_3['streetnumber'] % 1 != 0]['streetnumber']
print(non_integer.head(10))

18743   NaN
18745   NaN
18747   NaN
18749   NaN
18751   NaN
18753   NaN
18755   NaN
18757   NaN
18759   NaN
18761   NaN
Name: streetnumber, dtype: float64

In [194]:
# Change streetnumber to Int64 (to preserve NaN values while converting other numeric values to integers)

df_3['streetnumber'] = df_3['streetnumber'].astype('Int64')

/tmp/ipykernel_4286/1337130767.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['streetnumber'] = df_3['streetnumber'].astype('Int64')

In [197]:
#Checks output of streetnumber column

df_3['streetnumber'].head(10)

0     613
1     619
2    1411
3    4532
4    3608
5       2
6     124
7     332
8    1313
9    7604
Name: streetnumber, dtype: Int64

### Convert totalsaledate to datetime64 Datatype

In [200]:
# Convert totalsaledate to datetime64

df_3['totalsaledate'] = pd.to_datetime(df_3['totalsaledate'])

/tmp/ipykernel_4286/1229168868.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['totalsaledate'] = pd.to_datetime(df_3['totalsaledate'])

In [203]:
# Check output of totalsaledate

print(df_3['totalsaledate'].dtype)  # Should output: datetime64[ns]
print(df_3['totalsaledate'].isna().sum())  # Count missing values

datetime64[ns]
77286

In [206]:
# Check for date outliers

print(df_3['totalsaledate'].min(), df_3['totalsaledate'].max())

1961-01-01 00:00:00 2024-12-27 00:00:00

In [209]:
# Check column head

df_3['totalsaledate'].head(10)

0   2017-10-27
1   2023-12-05
2          NaT
3          NaT
4   2013-06-27
5   2023-10-26
6   2017-12-28
7   2019-11-26
8   2016-05-03
9   2014-10-20
Name: totalsaledate, dtype: datetime64[ns]

In [212]:
df_3['totalsaledate'].unique()

<DatetimeArray>
['2017-10-27 00:00:00', '2023-12-05 00:00:00',                 'NaT',
 '2013-06-27 00:00:00', '2023-10-26 00:00:00', '2017-12-28 00:00:00',
 '2019-11-26 00:00:00', '2016-05-03 00:00:00', '2014-10-20 00:00:00',
 '2021-10-22 00:00:00',
 ...
 '1996-12-28 00:00:00', '1987-03-04 00:00:00', '1984-01-16 00:00:00',
 '1987-10-22 00:00:00', '2019-03-24 00:00:00', '2015-01-11 00:00:00',
 '2014-04-19 00:00:00', '2014-12-21 00:00:00', '2019-05-12 00:00:00',
 '1984-10-09 00:00:00']
Length: 10519, dtype: datetime64[ns]

### Convert yearbuilt to datetime64 Datatype

In [216]:
# Convert yearbuilt to datetime64

df_3['yearbuilt'] = pd.to_datetime(df_3['yearbuilt'])

/tmp/ipykernel_4286/3433218108.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['yearbuilt'] = pd.to_datetime(df_3['yearbuilt'])

In [219]:
# Check output of yearbuilt

print(df_3['yearbuilt'].dtype)  # Should output: datetime64[ns]
print(df_3['yearbuilt'].isna().sum())  # Count missing values

datetime64[ns]
101627

### Change phyzip Datatype

In [223]:
# Change phyzip to Int64 (to preserve NaN values while converting other numeric values to integers)

df_3['phyzip'] = df_3['phyzip'].astype('Int64')

/tmp/ipykernel_4286/3926436692.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['phyzip'] = df_3['phyzip'].astype('Int64')

In [226]:
# Check ouput of phyzip column

df_3['phyzip'].head(10)

0    27713
1    27713
2    27713
3    27713
4    27713
5    27703
6    27713
7    27517
8    27713
9    27713
Name: phyzip, dtype: Int64

### Change Land & Building Values to Int64

In [316]:
# Change Land & Building Values to Int64 (to preserve NaN values while converting other numeric values to integers)

df_3[['bldgvalue', 'landvalue', 'landsalevalue', 'totalsalevalue','totalbldgsqft']] = df_3[['bldgvalue', 'landvalue', 'landsalevalue', 'totalsalevalue','totalbldgsqft']].astype('Int64')

In [319]:
# check output

df_3[['bldgvalue', 'landvalue', 'landsalevalue', 'totalsalevalue', 'totalbldgsqft']].dtypes

bldgvalue         Int64
landvalue         Int64
landsalevalue     Int64
totalsalevalue    Int64
totalbldgsqft     Int64
dtype: object

### Change landvalue to Int64

## Normalize Mixed Capitalization

In [322]:
# Get overview of column capitalization

df_3.head()

,owneradd1,owneradd2,owneradd3,location,calcacreage,deedacres,streetnumber,streetmisc,streetprefix,streetname,streettype,streetsuffix,landclass,totalstructures,totalunits,propertydesc,bldgvalue,landvalue,landsalevalue,landsaledate,totalsalevalue,totalsaledate,cary_city,apaownership,apaactivity,apafunction,apastructure,apasite,billingclass,apaownershipdesc,apaactivitydesc,apafunctiondesc,apastructuredesc,apasitedesc,county,totalbldgsqft,typedecode,phycity,phyzip,utilities,shape_starea,shape_stlength,yearbuilt,chathamaddress,geo_shape,geo_point_2d,latitude,longitude
0,38 Saint Paul Ave,None,None,613 Hanson Rd,0.15,0.15,613,None,None,Hanson,RD,None,Res 1 Family,NaN,NaN,BAY POINTE/PH:03/LT#099 PL000161-000365,195234,40180,40180,None,235414,2017-10-27,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,2080,None,Durham,27713,None,6451.097435,336.681551,NaT,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00...,b'\x01\x01\x00\x00\x00;\x87\xfc\xe6~\xbaS\xc09...,35.941222,-78.913996
1,2908 London Bell Dr,None,None,619 Hanson Rd,0.16,0.16,619,None,None,Hanson,RD,None,Res 1 Family,NaN,NaN,BAY POINTE/PH:03/LT#096 PL000161-000365,179487,40705,40705,None,220192,2023-12-05,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,1906,None,Durham,27713,None,7096.203754,354.824260,NaT,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x07\x00...,b'\x01\x01\x00\x00\x00\xa3U\xce\xfat\xbaS\xc0\...,35.941139,-78.913390
2,1411 Carrickfergus Ct,None,None,1411 Carrickfergus Ct,0.22,0.22,1411,None,None,Carrickfergus,CT,None,Res 1 Family,NaN,NaN,OAKHAVEN/LT#15 PL000161-000075,275711,75937,75937,None,351648,NaT,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,3200,None,Durham,27713,None,9361.373133,405.469398,NaT,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x1d\x00...,b'\x01\x01\x00\x00\x00\xdf\\\xfe\x8d\xc3\xbbS\...,35.890914,-78.933811
3,4532 Shady Side Ln,None,None,4532 Shady Side Ln,0.13,0.13,4532,None,None,Shady Side,LN,None,Res 1 Family,NaN,NaN,BAY POINTE/PH:03/LT#069 PL000161-000365,203620,39480,39480,None,243100,NaT,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,2308,None,Durham,27713,None,5588.978748,310.423891,NaT,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x07\x00...,b'\x01\x01\x00\x00\x00\x036\xbd\x00q\xbaS\xc0\...,35.940075,-78.913147
4,3608 Rambir Dr,None,None,3608 Ranbir Dr,0.28,0.28,3608,None,None,Ranbir,DR,None,Res 1 Family,NaN,NaN,LOCHSIDE/PH:01/LT#105 PL000165-000308,163464,57600,57600,None,221064,2013-06-27,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,1567,None,Durham,27713,None,12205.491128,453.505217,NaT,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x07\x00...,b'\x01\x01\x00\x00\x00d\xc3\x03\x0f}\xb9S\xc0\...,35.928977,-78.898258

In [325]:
# Create subset of columns to normalize

cols_to_normalize = ['owneradd1', 'owneradd2', 'owneradd3', 'location', 'streetname', 'landclass', 'county', 'phycity', 'chathamaddress']

In [328]:
# Apply title capitalization to select columns 

df_3[cols_to_normalize] = df_3[cols_to_normalize].apply(lambda x: x.str.title())

In [269]:
# Check output of columns converted to title capitalization

df_3.head(10)

,owneradd1,owneradd2,owneradd3,location,calcacreage,deedacres,streetnumber,streetmisc,streetprefix,streetname,streettype,streetsuffix,landclass,totalstructures,totalunits,propertydesc,bldgvalue,landvalue,landsalevalue,landsaledate,totalsalevalue,totalsaledate,cary_city,apaownership,apaactivity,apafunction,apastructure,apasite,billingclass,apaownershipdesc,apaactivitydesc,apafunctiondesc,apastructuredesc,apasitedesc,county,totalbldgsqft,typedecode,phycity,phyzip,utilities,shape_starea,shape_stlength,yearbuilt,chathamaddress,geo_shape,geo_point_2d,latitude,longitude
0,38 Saint Paul Ave,None,None,613 Hanson Rd,0.15,0.15,613,None,None,Hanson,RD,None,Res 1 Family,NaN,NaN,BAY POINTE/PH:03/LT#099 PL000161-000365,195234.0,40180.0,40180.0,None,235414.0,2017-10-27,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,2080.0,None,Durham,27713,None,6451.097435,336.681551,NaT,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00...,b'\x01\x01\x00\x00\x00;\x87\xfc\xe6~\xbaS\xc09...,35.941222,-78.913996
1,2908 London Bell Dr,None,None,619 Hanson Rd,0.16,0.16,619,None,None,Hanson,RD,None,Res 1 Family,NaN,NaN,BAY POINTE/PH:03/LT#096 PL000161-000365,179487.0,40705.0,40705.0,None,220192.0,2023-12-05,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,1906.0,None,Durham,27713,None,7096.203754,354.824260,NaT,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x07\x00...,b'\x01\x01\x00\x00\x00\xa3U\xce\xfat\xbaS\xc0\...,35.941139,-78.913390
2,1411 Carrickfergus Ct,None,None,1411 Carrickfergus Ct,0.22,0.22,1411,None,None,Carrickfergus,CT,None,Res 1 Family,NaN,NaN,OAKHAVEN/LT#15 PL000161-000075,275711.0,75937.0,75937.0,None,351648.0,NaT,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,3200.0,None,Durham,27713,None,9361.373133,405.469398,NaT,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x1d\x00...,b'\x01\x01\x00\x00\x00\xdf\\\xfe\x8d\xc3\xbbS\...,35.890914,-78.933811
3,4532 Shady Side Ln,None,None,4532 Shady Side Ln,0.13,0.13,4532,None,None,Shady Side,LN,None,Res 1 Family,NaN,NaN,BAY POINTE/PH:03/LT#069 PL000161-000365,203620.0,39480.0,39480.0,None,243100.0,NaT,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,2308.0,None,Durham,27713,None,5588.978748,310.423891,NaT,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x07\x00...,b'\x01\x01\x00\x00\x00\x036\xbd\x00q\xbaS\xc0\...,35.940075,-78.913147
4,3608 Rambir Dr,None,None,3608 Ranbir Dr,0.28,0.28,3608,None,None,Ranbir,DR,None,Res 1 Family,NaN,NaN,LOCHSIDE/PH:01/LT#105 PL000165-000308,163464.0,57600.0,57600.0,None,221064.0,2013-06-27,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,1567.0,None,Durham,27713,None,12205.491128,453.505217,NaT,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x07\x00...,b'\x01\x01\x00\x00\x00d\xc3\x03\x0f}\xb9S\xc0\...,35.928977,-78.898258
5,2 Beaver Creek Ln,None,None,2 Beaver Creek Ln,0.30,0.30,2,None,None,Beaver Creek,LN,None,Res 1 Family,NaN,NaN,ALEXANDER CROSSING/PH:03- 04/LT#72 PL000162-00...,179848.0,51321.0,51321.0,None,231169.0,2023-10-26,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,2042.0,None,Durham,27703,None,12899.187381,474.691076,NaT,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x11\x00...,b'\x01\x01\x00\x00\x00\xe4\xc4\x86o\xe5\xb4S\x...,35.924294,-78.826504
6,124 Grey Elm Trail,None,None,124 Grey Elm Trl,0.03,0.03,124,None,None,Grey Elm,TRL,None,Res Twnh W Land,NaN,NaN,HPVL FRMS TW/POD W/LT#47 MODEL-CORDOVA/INT/Y P...,162374.0,40000.0,40000.0,None,202374.0,2017-12-28,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,1710.0,None,Durham,27713,None,1115.156890,169.268688,NaT,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x08\x00...,b'\x01\x01\x00\x00\x00\xd5\x05?\tY\xbbS\xc0\x8...,35.947364,-78.927309
7,332 Oxfordshire Ln,None,None,332 Oxfordshire Ln,0.34,0.34,332,None,None,Oxfordshire,LN,None,Res 1 Family,NaN,NaN,SOUTHPT MANOR/LT#032 PL000161-000254,446203.0,133700.0,133700.0,None,579903.0,2019-11-26,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,3673.0,None,Chapel Hill,27517,None,14679.515709,512.442282,NaT,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\n\x00\x...,b'\x01\x01\x00\x00\x00e\x80g\xb7\x7f\xbeS\xc0\...,35.895716,-78.976545
8,1313 Caribou Xing,None,None,1313 Caribou Xing,0.27,0.27,1313,None,None,Caribou,XING,None,Res 1 Family,NaN,NaN,HUNTINGTON RIDGE/PH:03/SE C:01/LT#117 PL000162...,328642.0,79625.0,79625.0,None,408267.0,2016-05-03,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,3613.0,None,Durham,27713,None,11935.857025,429.456556,NaT,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00&\x00\x0...,b'\x01\x01\x00\x00\x00\xb1\xd2\xc8\xda\x81\xbc...,35.890666,-78.945426
9,7604 Morrell Lane,None,None,7604 Morrell Ln,0.08,0.08,7604,None,None,Morrell,LN,None,Res 1 Family,NaN,NaN,SOUTHPT TER/PAT HME/PH:01 /LT#37 PL000161-000154,203254.0,60000.0,60000.0,None,263254.0,2014-10-20,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,1710.0,None,Durham,27713,None,3393.959868,252.500459,NaT,None,"b""\x01\x03\x00\x00\x00\x01\x00\x00\x00\x08\x00...",b'\x01\x01\x00\x00\x00W\xd5\xed\xedO\xbdS\xc0\...,35.899693,-78.958004

## Create Latitude & Longitude Columns

In [330]:
# Convert the binary data to geometry objects

df_3['geometry'] = df_3['geo_point_2d'].apply(lambda x: wkb.loads(x))

In [334]:
# Extract latitude and longitude

# Extract latitude and longitude
df_3['latitude'] = df_3['geometry'].apply(lambda geom: geom.y)
df_3['longitude'] = df_3['geometry'].apply(lambda geom: geom.x)

In [337]:
# Drop the temporary geometry column

df_3 = df_3.drop(columns=['geometry'])

In [340]:
# Check output of df_3

df_3.head(5)

,owneradd1,owneradd2,owneradd3,location,calcacreage,deedacres,streetnumber,streetmisc,streetprefix,streetname,streettype,streetsuffix,landclass,totalstructures,totalunits,propertydesc,bldgvalue,landvalue,landsalevalue,landsaledate,totalsalevalue,totalsaledate,cary_city,apaownership,apaactivity,apafunction,apastructure,apasite,billingclass,apaownershipdesc,apaactivitydesc,apafunctiondesc,apastructuredesc,apasitedesc,county,totalbldgsqft,typedecode,phycity,phyzip,utilities,shape_starea,shape_stlength,yearbuilt,chathamaddress,geo_shape,geo_point_2d,latitude,longitude
0,38 Saint Paul Ave,None,None,613 Hanson Rd,0.15,0.15,613,None,None,Hanson,RD,None,Res 1 Family,NaN,NaN,BAY POINTE/PH:03/LT#099 PL000161-000365,195234,40180,40180,None,235414,2017-10-27,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,2080,None,Durham,27713,None,6451.097435,336.681551,NaT,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00...,b'\x01\x01\x00\x00\x00;\x87\xfc\xe6~\xbaS\xc09...,35.941222,-78.913996
1,2908 London Bell Dr,None,None,619 Hanson Rd,0.16,0.16,619,None,None,Hanson,RD,None,Res 1 Family,NaN,NaN,BAY POINTE/PH:03/LT#096 PL000161-000365,179487,40705,40705,None,220192,2023-12-05,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,1906,None,Durham,27713,None,7096.203754,354.824260,NaT,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x07\x00...,b'\x01\x01\x00\x00\x00\xa3U\xce\xfat\xbaS\xc0\...,35.941139,-78.913390
2,1411 Carrickfergus Ct,None,None,1411 Carrickfergus Ct,0.22,0.22,1411,None,None,Carrickfergus,CT,None,Res 1 Family,NaN,NaN,OAKHAVEN/LT#15 PL000161-000075,275711,75937,75937,None,351648,NaT,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,3200,None,Durham,27713,None,9361.373133,405.469398,NaT,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x1d\x00...,b'\x01\x01\x00\x00\x00\xdf\\\xfe\x8d\xc3\xbbS\...,35.890914,-78.933811
3,4532 Shady Side Ln,None,None,4532 Shady Side Ln,0.13,0.13,4532,None,None,Shady Side,LN,None,Res 1 Family,NaN,NaN,BAY POINTE/PH:03/LT#069 PL000161-000365,203620,39480,39480,None,243100,NaT,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,2308,None,Durham,27713,None,5588.978748,310.423891,NaT,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x07\x00...,b'\x01\x01\x00\x00\x00\x036\xbd\x00q\xbaS\xc0\...,35.940075,-78.913147
4,3608 Rambir Dr,None,None,3608 Ranbir Dr,0.28,0.28,3608,None,None,Ranbir,DR,None,Res 1 Family,NaN,NaN,LOCHSIDE/PH:01/LT#105 PL000165-000308,163464,57600,57600,None,221064,2013-06-27,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Durham,1567,None,Durham,27713,None,12205.491128,453.505217,NaT,None,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x07\x00...,b'\x01\x01\x00\x00\x00d\xc3\x03\x0f}\xb9S\xc0\...,35.928977,-78.898258

# 06. Export Cleaned Data

In [343]:
# Export cleaned df_3 data into the Prepared Data folder

df_3.to_parquet(os.path.join(path, '01 Datasets','02 Prepared Data', 'cary_cleaned.parquet'), compression = 'snappy')